* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #1b001b, #000);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
}

/* TITLE + PHOTO */
.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.title-section h1 {
    font-size: 34px;
    letter-spacing: 2px;
    color: #ffb3c6;
}

.title-section img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ff8fab;
}

/* CENTER PHOTO */
.center-photo img {
    width: 220px;
    border-radius: 20px;
    margin: 10px auto 30px;
    box-shadow: 0 0 20px rgba(255, 143, 171, 0.4);
}

/* LETTERS */
.letters {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.letter-box {
    text-decoration: none;
    color: #ffb3c6;
}

.letter-box img {
    width: 150px;
    transition: transform 0.3s;
}

.letter-box:hover img {
    transform: scale(1.1);
}

.letter-box span {
    display: block;
    margin-top: 8px;
    font-size: 18px;
}

/* COUNTER */
.love-counter {
  text-align: center;
  margin: 80px 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.counter-top,
.counter-bottom {
  letter-spacing: 3px;
  font-size: 14px;
  opacity: 0.85;
}

.counter-love {
  margin-top: 15px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #ffb6c1;
}

.heart {
  width: 220px;
  height: 200px;
  background: #ff4d6d;
  position: relative;
  margin: 25px auto;
  transform: rotate(-45deg);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 30px rgba(255, 77, 109, 0.6);
}

.heart::before,
.heart::after {
  content: "";
  width: 220px;
  height: 200px;
  background: #ff4d6d;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -110px;
  left: 0;
}

.heart::after {
  left: 110px;
  top: 0;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}

@keyframes pulse {
  0% { transform: rotate(-45deg) scale(1); }
  50% { transform: rotate(-45deg) scale(1.05); }
  100% { transform: rotate(-45deg) scale(1); }
}


/* FINAL LOVE TEXT */
.final-love-text {
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: #ffb3c6;
}

